.main_features{
    border: 3px solid #DF744A;
    margin: 2px;
    width: 40%;
    float: left;
}
.main_features span{
    display:inline-block;
    padding: 10px;
}
.main_features img {
    width: 100px;
}

*{
    box-sizing: border-box;
}